@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap);

.App {
  padding-top: 1em;
  padding-bottom: 0.25em;
  text-align: center;
  min-width: 338px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea {
  resize: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.1em;
}

textarea::placeholder {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.9em;
  font-style: italic;
}

.action_button {
  height: 2rem;
  font-size: 1.1em;
  margin-top: 0.5em;
  padding: 0 0.5em;
  font-family: "Noto Sans JP", sans-serif;
}

.action_button.reset {
  margin-right: 1em;
}

.action_button.pallet {
  font-style: italic;
}

.action_button.copy {
  margin-left: 1em;
}

.action_button_caption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.8em;
  font-style: italic;
  color: gray;
  margin-top: 0.3em;
}

#custom_picker .emoji-mart-preview-data {
  left: 38px;
}
